{{"results": []}}
  <header class="col s12">
  </header>
  <div class="col s12 center"> 
    <p>No jobs found within {{search}}!</p>
  </div>
{{/if}}

<h3 class="page-title">Jobs Found "{{search}}":</h3>
{{#each job}}
<section>
    <a href="/job/{{id}}">
        <div class="row"
          <h4 class="col s12 l7"><span style="font-size: 1em">
          <i class="{{link.class}}"></i>
        </span>{{name}}</h4>
        </div>
    </a>
</section> 
{{/each}}
