{{"results": []}}
  <header class="col s12">
  </header>
  <div class="col s12 center"> 
    <p>No jobs found matching {{search}}!</p>
  </div>

{{/if}}
<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{applied}}}</p>
  <p>{{link}}</p>
  <p>
    <span for=".img" aria-label="Jobs"></span>
    <span class="jobs-available">{{format_available applied}}</span>
  </p>
  <p>
    <button class="btn btn-primary">Save this Job!</button>
  </p>
</div>
<script src="./js/search.js"></script>